[submodule "hw1/News-Headlines-Dataset-For-Sarcasm-Detection"]
	path = hw1/News-Headlines-Dataset-For-Sarcasm-Detection
	url = git@github.com:rishabhmisra/News-Headlines-Dataset-For-Sarcasm-Detection.git
